"*":
  "atom-beautify":
    general:
      _analyticsUserId: "505c9855-0c8e-47d1-a46a-3b7cbae0ef1b"
  "atom-clock":
    dateFormat: "MMMM Do, dddd, h:mm:ss a"
    showClockIcon: true
  "atom-slack-snippets": {}
  core:
    disabledPackages: [
      "seti-icons"
      "semanticolor"
      "shadow"
      "linter-rubocop"
      "editor-background"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 11
    preferredLineLength: 120
    showIndentGuide: true
  "editor-background":
    image:
      opacity: 5
      url: "http://i.imgur.com/eBfjqSs.jpg"
  "exception-reporting":
    userId: "4a486d63-3fb5-1216-88ff-d97bc6c2e57d"
  kite:
    showKiteTourOnStatup: false
  linter: {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "tree-view": {}
  welcome:
    showOnStartup: false
"linter-ruby":
  ignoredExtensions: "erb, md"
